body{
    background-color: rgb(67, 68, 68);
}

.titulo{
    color: rgb(255, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
}

.descricao{
    color: rgb(189, 0, 0);
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.explicacao{
    color: aqua;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(24, 24, 24);
}

.imagen{
    text-align: center;
    size: 250px;
    
}

.descricao{
    background-color: azure;
}

.texto{
    text-decoration: dashed;
    text-align: center;
    background-color: azure;
    font-size: x-large;
}